# ─────────────────────────────────────────────
# PostgreSQL (Render external)
# ─────────────────────────────────────────────
DATABASE_URL=postgresql://bd_sistema_clinico_user:gW30iPOE6lrP3Pv7cOt5lgA9IQ0cbUuS@dpg-d7e1588sfn5c738ldav0-a.oregon-postgres.render.com/bd_sistema_clinico

# ─────────────────────────────────────────────
# Security
# ─────────────────────────────────────────────
AES_KEY=e6a85314225c945f0df65682caf1388d3a2a00947eb3fc10a79d560557b9ae5f
JWT_SECRET=058b85e9bc8de3846301d70592ac9262b222227fc8688f467b00af8b1a48e7d7
JWT_EXPIRE_HOURS=8

# ─────────────────────────────────────────────
# CORS
# ─────────────────────────────────────────────
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:80,http://127.0.0.1:3000,http://127.0.0.1,http://localhost

# ─────────────────────────────────────────────
# MINIO
# ─────────────────────────────────────────────

# Endpoint interno — backend sube archivos directo por docker network
MINIO_ENDPOINT=minio:9000

# ✅ URL pública con localhost:9000
# Funciona porque docker-compose tiene extra_hosts: host.docker.internal
# El backend puede conectarse a localhost:9000 desde el contenedor
# MinIO firma con localhost:9000 gracias a MINIO_SERVER_URL
# La firma coincide cuando el browser accede por localhost:9000 ✅
MINIO_PUBLIC_ENDPOINT=http://localhost:9000

MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=clinical-images

# ─────────────────────────────────────────────
# Microservices
# ─────────────────────────────────────────────
ML_SERVICE_URL=http://ml-service:8001
DL_SERVICE_URL=http://dl-service:8002
ORCHESTRATOR_URL=http://orchestrator:8003